/*
 login�κ� css
 2020.06.09 by.jin
*/

.login_btn{
	width:575px;
	padding: 12px 20px;
	margin: 8px 0;
}
.login_h3, .signup_h1{
	margin-left:230px;
}


body{
	background-color:#fff;
}
.main_body_color{
	background-color:#EAEAEA;
}
.main_content{
	height:700px;
	padding-top:100px;
	margin-left:300px;
}

.login_input{
	width:573px;
}
div.row {
	margin-bottom:10px;
}
.main_content{
	clear:both;
}
@media (min-width: 0px) {
  .menu {
    min-width: 1550px;
  }
}
