.signup_body{
	background-color:#EAEAEA;
	padding-left:30px;
	padding-top:90px;
	margin-left:300px;
	margin-top:0px;
	height:700px;
}
.signup_input{
	width:582px;
}
.main_body_color{
	background-color:#EAEAEA;
}