<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.app.recipe.model.RegisterDto" alias="regiDto" />
		<typeAlias type="com.app.recipe.model.RecipeDTO" alias="recipeDTO"/>
	</typeAliases>
	<mappers>
		<mapper resource="/mybatis/register-mapper.xml" />
		<mapper resource="/mybatis/recipe-mapper.xml" />
	</mappers>
</configuration>