/* 컨테이너 기본 틀 설정 (div 영역) */
.container_frame {
	width: 100%;
	margin: 15px auto;
	border: 1px solid #e6e7e8;
	background: white;
}
/* 서브 탭 영역(div 태그) */
.sub_tabs {
	width: 100%;
	height: 117px;
	padding: 25px 0 0;
}
/* 서브 탭 ul */
.sub_tabs ul {
	margin: 0 10px;
}
/* 서브 탭 ul li */
.sub_tabs ul li {
	float: left;
	display: table;
	padding: 0;
	margin-right: 5px;
	width: 256px;
	background: #e6e7e8;
	height: 88px;
}

/* 각 서브 탭 a */
.sub_tabs ul li a {
	display: table-cell;
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	font-size: 25px;
	font-weight: bold;
	text-decoration: none;
}

/* 쉐프의 레시피 검색 영역 */
.sub_search {
	width: 100%;
	height: 80px;
	background-color: white;
	margin-top: 20px;
}

/* 쉐프의 레시피 검색 입력창 */
.sub_search input[type='text'] {
	width: 41%;
    height: 46px;
    float: left;
    margin-left: 28%;
    border: 1px solid #e6e7e8;
}

/* 쉐프의 레시피 검색 실행 버튼 */
.sub_search button {
	float: left;
	width: 46px;
	height: 46px;
}

/* 쉐프의 레시피 게시물 표시 영역(div) */
.content_list {
	width: 100%;
	height: 100%;
	margin-left:-50px;
}
/* 리스트 영역 */
.content_list ul {
	width: 100%;
	margin: 0 60px;
}
/* 각 리스트 항목 별 영역 */
.content_list li {
	float: left;
	padding: 0;
	margin: 0px 15px 35px 0px;
	width: 256px;
	height: 270px;
	border: 1px solid #e6e7e8;
}

.content_list img {
	width: 100%; height: 70%;
}

.content_list h3 {
	width: 100%
}

/* 각 리스트 항목 별  레시피 명 + 쉐프 명 표시 영역(div) */
.recipe_subject {
	padding: 5px 20px;
	margin-top: 10px;
	height: 27%;
}
/* 레시피 명(h3 태그) */
.recipe_subject h3 {
	font-size: 15px;
	font-weight: bold;
}

/* 쉐프 명(p 태그) */
.recipe_subject p {
	font-size: 12px;
}

/* 게시물 페이징 영역(div) */
.paging {
	position: relative;
	text-align: center;
	clear: both;
}

.paging ul {
	display: inline-block;
	padding-left: 0;
	margin: 30px 0;
	border-radius: 0;
}

.paging ul li {
	display: inline;
}

.paging ul li a {
	float: left;
	padding: 9px 15px;
	margin: 0 8px;
	border: 1px solid #e6e7e8;
}
