
.container_frame {
	width: 100%;
	margin: 15px auto;
	border: 1px solid #e6e7e8;
	background: white;
}

.sub_tabs {
	width: 100%;
	height: 117px;
	padding: 25px 0 0;
}

.sub_tabs ul {
	margin: 0 10px;
}

.sub_tabs ul li {
	float: left;
	display: table;
	padding: 0;
	margin-right: 5px;
	width: 256px;
	background: #e6e7e8;
	height: 88px;
}


.sub_tabs ul li a {
	display: table-cell;
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	font-size: 25px;
	font-weight: bold;
	text-decoration: none;
}


.sub_search {
	width: 100%;
	height: 80px;
	background-color: white;
	margin-top: 20px;
}


.sub_search input[type='text'] {
	width: 41%;
    height: 46px;
    float: left;
    margin-left: 28%;
    border: 1px solid #e6e7e8;
}


.sub_search button {
	float: left;
	width: 46px;
	height: 46px;
}


.content_list {
	width: 100%;
	height: 100%;
	margin-left:-50px;
}

.content_list ul {
	width: 100%;
	margin: 0 60px;
}

.content_list li {
	float: left;
	padding: 0;
	margin: 0px 15px 35px 0px;
	width: 256px;
	height: 270px;
	border: 1px solid #e6e7e8;
}

.content_list img {
	width: 100%; height: 70%;
}

.content_list h3 {
	width: 100%
}


.recipe_subject {
	padding: 5px 20px;
	margin-top: 10px;
	height: 27%;
}

.recipe_subject h3 {
	font-size: 15px;
	font-weight: bold;
}


.recipe_subject p {
	font-size: 12px;
}


.paging {
	position: relative;
	text-align: center;
	clear: both;
}

.paging ul {
	display: inline-block;
	padding-left: 0;
	margin: 30px 0;
	border-radius: 0;
}

.paging ul li {
	display: inline;
}

.paging ul li a {
	min-width: 50px;
	height: 50px;
	float: left;
	padding: 9px 15px;
	margin: 0 8px;
	border: 1px solid #e6e7e8;
	text-decoration: none;
}

.paging ul li .currentPaging {
	color: #fff;
	background: #84accb;
}

.paging ul li .turnPaging {
	width: 70px;
}
/* 전체 배경색 흰색 */ 
body{
	background-color:#fff;
}
/* 
/* 본문 색깔 회색으로 맞추기 위해서 설정 */
.main_content{
	background-color:#EAEAEA;
}
