
.section_container{
	width:1200px;
	height:400px;
	background:#FFFFFF;
	margin-top:30px;
}
.section_container ul{
	margin-left:100px;
}
.section_container dl{
	margin-left:350px;
}
.section_category{
	width:1140px;
	height:200px;
	background:#fff;
	margin-bottom:20px;

}
.main_body_color, .copyright{
	background:#EAEAEA;
}
.text-black{
	color:black;
}
dl h3{
	margin-left:30px;
}
h3{
	float:left;
}
.btn-more{
	margin-left:5px;
}
.pull_left{
	float:left;
	width:200px;
	height:300px;
	border:1px solid black;
	margin-left:10px;
}
.pull_left:hover{
	border:2px solid green; 
}
#img_data{
	width:150px;
	height:100px;
}

.main{
	width:100%;
	background:#EAEAEA;
}

.section_category{
	padding-top:50px;
	padding-left:80px;
   
}
.section_category div{
	float:left;
}
.cate_arrow{
	width:30px;
	height:50%;
	padding-left:40px;
}
.ingre_img ul li{
	float:left;
	margin-left:50px;
	padding-top:-7px;
}
.ingre_img ul img{
	border-radius:50%;
	width:60px;
	height:60px;
}

.beef_size{
	background:lightblue;
}
.radish_size{
	background:gray;
}
.tofu_size{
	background:yellow;
}
.rice_size{
	background:white;
}
.squid_size{
	background:black;
}
.pork_size{
	background:pink;
}
.mushroom_size{
	background:brown;
}
@media (min-width: 0px) {
  .menu {
    min-width: 1200px;
  }
}
.category_item{
	clear:both;
}