/* 
 2020.06.15 
 css ���� ȸ������ ��ư ��ġ ���� 
*/
.search-box {
	border: 1px solid #1b5ac2;
	height:45px;
}

input:-ms-input-placeholder {
	color: #a8a8a8;
}

input::-webkit-input-placeholer {
	color: #a8a8a8;
}

input::-moz-placeholder {
	color: #a8a8a8;
}

input{
	font-size: 16px;
	width:325px;
	padding:10px;
	border: 0px;
	outline: none;
	float:left;
}
button{
	width: 50px;
	height: 100%;
	border: 0px;
	background: #01DF01;
	outline:none;
	float:right;
	color:#ffffff;
}
/*
 2020.06.16 css margin-top ���� �Ϸ�
*/
.login_body{
	margin-top:150px;
	margin-left:850px;
}

/*
 2020.06.16 ���� ȸ������ �� ����
*/
.signup_body{
	margin-top:150px;
	margin-left:250px;
}
/*
 2020.06.15 �߰�
*/
.signbtn{
	width:67%;
}
.authbtn{
	width:80px;
	height:50px;
	margin-left:10px;
	margin-top:6px;
}
.emailcheck{
	width:80px;
	height:50px;
	margin-left:10px;
	margin-top:6px;
}
.signup_password{
	width:67%;
	margin-top:7px;
}
.sign_up{
  margin-left:-330px;	
}

#img_size{
	width:150px;
	height:100px;
	padding-bottom:0px;
	margin-left:150px;
}