/*
 loginºÎºÐ css
 2020.06.09 by.jin
*/

input[type=text] {
    margin-left:-20px;
	width: 67%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	float : left;
}
.search-text{
	width:325px !important;
	margin: -4px !important;
}
.login_btn{
	width:575px;
	padding: 12px 20px;
	margin: 8px 0;
}
.login_h3, .signup_h1{
	margin-left:230px;
	padding-top:-100px;
}


body{
	background-color:#EAEAEA;
}