@charset "UTF-8";
.method_item{
   background-color:#fff;
   width:1150px;
   height:200px;
   padding-left:40px;
}

.container_frame{
   margin-top:150px;
}
#left_arrow{
   padding-left:10px;
}
#right_arrow{
   margin-left:40px;
}
.method_item div{
   float:left;
}
.method_item{
   padding-top:40px;
}